<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartMed</title>
    <link rel="icon" type="image/x-icon" href="/src/main/resources/static/images/logo-edited.png">
    <link href='https://fonts.googleapis.com/css?family=Inter:500,700' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inria Sans' rel='stylesheet'>   
    <link href='https://fonts.googleapis.com/css?family=Lexend Peta:400,900' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/style_home.css">
</head>
<body>

<div id="bg1">
    <ul id="list-header">
        <li class="list-header-mem-left" ><a href="home.html">HOME</a></li>
        <li class="list-header-mem-left"><a href="disease-prediction.html">DISEASE PREDICTION</a></li>
        <li class="list-header-mem-left"><a href="disease-info.html">MEDICINE STORE</a></li>
        <li class="list-header-mem-right">
            <a href="sign-in.html"><i class="glyphicon glyphicon-user"></i> SIGN IN</a>
        </li>
        <li class="list-header-mem-right">
            <a href="#connect">CONNECT <i class="glyphicon glyphicon-chevron-down"></i></a>
        </li>
        <li class="list-header-mem-right"><a href="medicine-info.html">DOCTOR APPOINTMENT</a></li>
    </ul>
    <div id="middle-line"></div>
    <div id="health-word">HEALTH</div>
    <div id="artificial-word">ARTIFICIAL</div>
    <div id="introduce-left">SMARTMED &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SINCE 2025</div>
    <div id="introduce-right">MIXTURE OF TECHNOLOGY AND HEALTHCARE</div>
</div>
<!-- slogan -->
<div class="container" style="height:20vw;">
    <div class="content">
        <div class="text">your health.</div>
        <div class="divider"></div>
        <div class="center-block">
            <div class="line-vertical-top"></div>
            <div class="text">your life.</div>
            <div class="line-vertical-bottom"></div>
        </div>
        <div class="divider"></div>
        <div class="text">our dedication.</div>
    </div>
</div>
<!-- introduce-after-slogan -->
<div class="container" style="height: 25vw;">
    <div class="introduce-after-slogan">
        <div class="introduce-after-slogan-content">
            <h3>REVOLUTIONIZING PATIENT CARE</h3>
            <p>
                Our platform offers innovative tools for disease prediction and comprehensive medicine information. Stay informed and proactive about your health with personalized notifications and reminders.
            </p>
            <div class="buttons">
                <button>Learn More</button>
                <button class="signup">Sign Up →</button>
              </div>
        </div>
        <div class="img-after-slogan"></div>
    </div>
</div>
<!-- features -->
<div class="container" style="height: 5vw;">
    <div class="content" style="left:0;">
        <div class="divider" style="width: 30vw;"></div>
        <div class="text">FEATURES</div>
        <div class="divider" style="width: 30vw;"></div>
    </div>
</div>
<!-- box-features -->
<div class="container" style="height: 65vw;flex-direction: row;">
    <div class="content" style="flex: 1;flex-direction: column;">
        <div class="box-features">
            <h3>DISEASE PREDICTION</h3>
            <div class="box-features-content">
                <div class="box-features-img">
                    <img src="/src/main/resources/static/images/body-box-edited-cropped.png">
                </div>
                <div class="box-features-content-text">
                    <p>Identify potential health issues quickly using 2D human body model.</p>
                    <a href="#">Check out Disease Prediction <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
        </div>
        <div class="box-features">
            <h3>MEDICINE PURCHASE</h3>
            <div class="box-features-content">
                <div class="box-features-content-text" style="gap:10px;padding-left: 30px;width: 70%;">
                    <p>Access a wealth of knowledge about conditions and treatments.</p>
                    <a href="#">Check out Medicine Store <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                <div class="box-features-img">
                    <img src="/src/main/resources/static/images/ong-nghe-edited-cropped.png">
                </div>
            </div>
        </div>
        <div class="box-features">
            <h3>DOCTOR APPOINTMENT</h3>
            <div class="box-features-content">
                <div class="box-features-img">
                    <img src="/src/main/resources/static/images/ong-nghe-edited-cropped.png">
                </div>
                <div class="box-features-content-text">
                    <p>Never miss a dose or an exercise session with our notifications.</p>
                    <a href="#">Check out Doctor Appointment <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="human-body-pic"></div>

</div>
<!-- about us -->
<div class="container" style="height:10vw;">
    <div class="content" style="width: 100%;left: 5%;">
        <div class="divider" style="width: 70%;"></div>
        <div class="text">ABOUT US</div>
    </div>
</div>
<!-- about us content -->
<div class="container" style="height: 20vw;flex-direction: column;align-items: left;justify-content: left;">
    <p class="about-us-p">At SmartMed, we understand that visiting a doctor can sometimes feel intimidating, uncomfortable, or even embarrassing. Many people hesitate to discuss their symptoms openly, which can lead to delays in seeking medical advice. That’s why we created this platform—a healthcare assistant designed to provide a more private and convenient way to assess your symptoms and receive preliminary health insights.</p>
    <p class="about-us-p">This project is developed by a university student who believes that technology can bridge the gap between people and healthcare. While this is just the beginning, we are continuously working to improve and expand the platform. We hope that SmartMed will empower individuals to take control of their health with confidence and ease.</p>
    <p class="about-us-p">“your health - your life - our dedication” - SmartMed </p>
</div>
<footer>
    <p>&copy; 2025 SmartMed. All rights reserved.</p>
</footer>
</body>
</html>