<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/style_product_detail.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/header.css">
</head>
<body>
    <div class="header">
        <a href="home.html" style="margin-left: 100px;">HOME</a>
        <a href="disease-prediction.html">DISEASE PREDICTION</a>
        <a href="disease-info.html">DISEASE INFO</a>
        <a href="medicine-info.html">MEDICINE INFO</a>
        <a href="#connect">CONNECT <i class="glyphicon glyphicon-chevron-down"></i></a>
        <a href="sign-in.html" style="margin-left: 400px;"><i class="glyphicon glyphicon-user"></i> SIGN IN</a>
    </div>
<div class="box-center float-left" style="width: 95%;margin-left: 2.5%;">
    <div class="banner">
        <img src="/src/main/resources/static/images/medicine2.jpg" alt="banner">
        <div class="text">
            <h3>MEDICINE STORE</h3>
        </div>
    </div>
</div>
<div class="box-center float-left" style="width: 95%;margin-left: 2.5%;">
    <div class="product-container">
        <div class="product-image">
            <!-- <div class="product-image-list">
                <img class="current-image" src="/static/images/products/details/1.jpg" alt="">
                <img src="/static/images/products/details/2.jpg" alt="">
                <img src="/static/images/products/details/3.jpg" alt="">
                <img src="/static/images/products/details/4.jpg" alt="">
            </div> -->
            <img src="/src/main/resources/static/images/Strepsils-Orange-With-Vitamin-C100mg.png" alt="Daisy Coffee Table">
        </div>
        <div class="product-detail">
            <h1>Medicine 1</h1>
            <div class="rating">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com.svg" alt="">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com.svg" alt="">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com.svg" alt="">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com.svg" alt="">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com-no-color.svg" alt="">
            </div>
            <!-- <p class="old">50.000đ</p> -->
            <p class="new">49.999đ</p>
            <p>Medicine description</p>
            <div class="description">
                <p>100% Right</p>
                <p>100% Not wrong</p>
                <p>100% </p>
            </div>
            <!-- <div class="size-select">
                <label for="size">Đơn vị:</label>
                <select id="size">
                    <option value="">Chọn đơn vị</option>
                    <option value="kg">Kg</option>
                    <option value="lang">Lạng</option>
                    <option value="yen">Yến</option>
                </select>
            </div> -->
            <div class="quantity-select">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity">
            </div>
            <button class="add-to-cart">ADD TO CART</button>
        </div>
    </div>
</div>
<div class="box-center float-left" style="width: 95%;margin-left: 2.5%;">
    <div class="product-content">
        <div class="title">INFOR</div>
        <div class="content">
            <h2>adfa</h2>
            <p>asdlkfosdf;jodiasfowiejfoiwef</p>
            <h2>adfsdfas</h2>
            <p>asdlkfosdf;jodiasfowiejfoiwef</p>
            <h2>rgvergrrbrt</h2>
            <p>asdlkfosdf;jodiasfowiejfoiwef</p>
        </div>
    </div>
</div>
<div class="box-center float-left" style="width: 95%;margin-left: 2.5%;">
    <div class="product-content">
        <div class="title">USAGE</div>
        <div class="content">
            <div class="content-row">
                <h2>sdfgasadf</h2>
                <div>AMSSFD</div>
            </div>
            <div class="content-row">
                <h2>asfsad</h2>
                <div>asdfsfdsd</div>
            </div>
            <div class="content-row">
                <h2>asfsfd</h2>
                <div>132</div>
            </div>
        </div>
    </div>
</div>
<div class="box-center float-left" style="width: 95%;margin-left: 2.5%;">
    <div class="product-content">
        <div class="title">REVIEW</div>
        <div class="content">
            <h2>adfa</h2>
            <div class="rating">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com.svg" alt="">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com.svg" alt="">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com.svg" alt="">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com.svg" alt="">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com-no-color.svg" alt="">
            </div>
            <p>asdlkfosdf;jodiasfowiejfoiwef</p>
            
            <h2>adfsdfas</h2>
            <div class="rating">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com.svg" alt="">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com.svg" alt="">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com.svg" alt="">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com.svg" alt="">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com-no-color.svg" alt="">
            </div>
            <p>asdlkfosdf;jodiasfowiejfoiwef</p>
            <h2>rgvergrrbrt</h2>
            <div class="rating">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com.svg" alt="">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com.svg" alt="">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com.svg" alt="">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com.svg" alt="">
                <img src="/src/main/resources/static/images/ff/star-svgrepo-com-no-color.svg" alt="">
            </div>
            <p>asdlkfosdf;jodiasfowiejfoiwef</p>
        </div>
    </div>
</div>
<div class="box-center row" style="height: 3vw;"></div>
<div class="box-center float-left" style="width: 100%;">
    <footer>
        <div class="footer-container">
            <div class="footer-section" style="flex: 1.5;">
                <h3>Giới thiệu</h3>
                <p>FridgeFeast là một nền tảng web thông minh giúp người dùng tận dụng tối đa nguyên liệu hiện có trong tủ lạnh để tạo ra những bữa ăn ngon, lành mạnh và tiết kiệm...</p>
                <a href="#">Đọc thêm →</a>
            </div>

            <div class="footer-section" style="flex: 1; margin-left:3vw;">
                <h3>Thông tin</h3>
                <ul>
                    <li><a href="#">Đơn vị vận chuyển</a></li>
                    <li><a href="#">Quy chuẩn</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Hình thức thanh toán</a></li>
                    <li><a href="#">Về chúng tôi</a></li>
                </ul>
            </div>

            <div class="footer-section" style="flex: 1.5;">
                <h3>Nhận thông báo</h3>
                <p>Thông báo về các công thức nấu ăn mới, thú vị</p>
                <input type="email" placeholder="Enter Your Email Address">
                <button>Đăng ký</button>
            </div>
        </div>

        <div class="footer-bottom">
            <p>Copyright ©2025 FridgeFeast - All Rights Reserved.</p>
            <div class="footer-links">
                <a href="#">Contact Us</a>
                <a href="#">Term of Use</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Site Map</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>